<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529499582102-0hef0j3v1hd0q1pl52fpro2irukrv74g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529499582102-0hef0j3v1hd0q1pl52fpro2irukrv74g</string>
	<key>API_KEY</key>
	<string>AIzaSyAknRMG8VhMq-_TWT4I0gSZt2I2djPCen8</string>
	<key>GCM_SENDER_ID</key>
	<string>529499582102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khachuong.demozalo</string>
	<key>PROJECT_ID</key>
	<string>demozalo-6e907</string>
	<key>STORAGE_BUCKET</key>
	<string>demozalo-6e907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529499582102:ios:50b54c0a99c73db750dcb7</string>
</dict>
</plist>